.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1; /*joga o ano p/ baixo. Quando deixa 0 o ano é o primeiro elemento do grid e quebra todo com o layout.*/
    width: initial;
    text-align: left;
  }
  .empresa-ano::before {
    content: "Ano: ";
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

/*comando para otimizar o css e limpar os bytes extras desnecessários: comando no git bash--> cleancss -o css/experiencia.min.css css/experiência.css
(-o: output, p/ qual arquivo que ele vai criar. Arquivo de saída) (arquivo de saída: css/experiência.css)Irá criar o arquivo experiencia.min.css
Otimizou o css e tirou todos os espaços extras*/

/*Criei o arquivo style.min.css para poder otimizar todos os arquivos. No site estava carregando primeiro os arquivos svg, as imagens e o style css e só depois carregava todos os arquivos que importamos para o stye.css com o código. Lembrar de na hora de colocar <link rel="stylesheet" href="./css/style.css"> no html, trocarmos para <link rel="stylesheet" href="./css/style.min.css">*/

/*Lembrar que após criar o style.min.css para realizar qualquer mudanças nos outros css será necessário realizar novamente o comando cleancss -o style.min.css style.css*/

/*comando git init para iniciar repositório no GitHub. git add para adicionar o arquivo. git add -A: adiciona todos os arquivos*/
/*git config --global core.autocrlf false p/ não aparecer mais a mensagem de alerta de CRLF*/
/*git commit -m "commit inicial"*/
